*.sh         text eol=lf
*.service    text eol=lf
*.yaml       text eol=lf
*.yml        text eol=lf
*.json       text eol=lf
*.js         text eol=lf
*.md         text eol=lf
*.txt        text eol=lf
*.html       text eol=lf
*.css        text eol=lf
*.png        binary
*.jpg        binary
*.gif        binary
*.ico        binary
*.woff       binary
*.woff2      binary
*.ttf        binary
*.eot        binary
